<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- BEGIN OF DATABASE SETTINGS-->
    <add key="connectionString" value="user=Admin001;server=192.168.43.145;database=petshelter;port=3306; charset=utf8; Allow Zero Datetime=False; Convert Zero Datetime=True;" />
    <add key="connectionType" value="sql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- END OF DATABASE SETTINGS-->
    <!--BEGIN OF FTP SETTINGS-->
    <add key="ftpaddress" value="ftp://192.168.0.145/" />
    <add key="ftpUserName" value="user" />
    <add key="ftpUserPass" value="pass" />
    <!--END OF FTP SETTINGS-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>